.concours-hr{
	h2, p{
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
	hr{
		&.wp-block-separator{
			margin: .5rem 0 1rem 0;
		}
	}
	p{
		color: #000000B3 !important;
	}
}


hr {
	border-style: none;
	border-bottom: var(--separator--height) solid var(--separator--border-color);
	clear: both;
	margin-left: auto;
	margin-right: auto;

	&.wp-block-separator {
		border-bottom: var(--separator--height) solid var(--separator--border-color);
		opacity: .5;
		width: 100% !important;
		&:not(.is-style-dots):not(.alignwide) {
			max-width: var(--responsive--aligndefault-width);
		}

		&:not(.is-style-dots) {

			&.alignwide {
				max-width: var(--responsive--alignwide-width);
			}

			&.alignfull {
				max-width: var(--responsive--alignfull-width);
			}
		}

		/**
		 * Block Options
		 */
		&.is-style-twentytwentyone-separator-thick {
			border-bottom-width: calc(3 * var(--separator--height));
		}

		&.is-style-dots {

			&.has-background,
			&.has-text-color {
				background-color: transparent !important;

				&:before {
					color: currentColor !important;
				}
			}

			&:before {
				color: var(--separator--border-color);
				font-size: var(--global--font-size-xl);
				letter-spacing: var(--global--font-size-sm);
				padding-left: var(--global--font-size-sm);
			}
		}

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}
	}
}
