.tax-activity-categories .activity,.term-friday .activity{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;

    @include media(mobile-only){
        div .real{
            flex-direction: column;
        }
    }

    > a {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 0.3rem ;
        background-color: var(--global--color-blue);
        text-decoration: none;
    }
    &::before{
        content: '';
        width: 100%;
        height: 10px;
        background-color: var(--global--color-blue);
        position: absolute;
        top: -26px;
        @include media(mobile-only){
            width: 80%;
        }
    }
    div .real{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        img{
            width: initial !important;
            @include media(mobile-only){
                max-width: 500px !important;
                width: 100% !important;
            }
        }
        .name{
            color: var(--global--color-blue);
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    .primary-content{
        padding: 1rem 0;
    }
    .activity-content{
        @include media(mobile-only){
            flex-direction: column;
            figure img{
                width: 100%;
            }
            svg{
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(calc(-16px + -100%));
                min-width: unset !important;
            }
        }
        
        display: flex;
        gap: 1rem;
        position: relative;


        p{
            color: #000000B3;
        }
        header{
            h2{
                color: var(--global--color-blue);
                font-weight: 700;
                position: relative;
                &::after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: var(--global--color-blue);
                    position: absolute;
                    left: 0;
                    bottom: -7px;
                }
            }
        }
        .activity-{
            &date{
                padding: 1rem 0;
                color: var(--global--color-blue);
                font-weight: 700;
                display: flex;
                flex-wrap: wrap;
                .day{
                    display: flex;
                    .hour{
                        margin-left: .5rem;
                    }
                }
            }
            &container{
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
                .activity-website{
                    font-weight: 700;
                    color: var(--global--color-blue);
                }
            }
        }
        svg{
            min-width: 50px;
        }
    }
}

.tax-activity-categories,.tax-activity-days{
    h1{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--global--color-blue) !important;
    }
    .archive-description{
        p{
            font-size: 1rem;
            color: #484848;
            font-weight: 300;
        }
    }
}


.tax-activity-days:not(.term-friday){
    .activity-days-grid{

        @include media(desktop-only){
            grid-template-columns: 1fr 1fr 1fr;
            @include media(mobile-only){
                grid-template-columns: 1fr 1fr;
                @media screen and (max-width:600px) {
                    grid-template-columns: 1fr;
                }
            }
            max-width: 90%;
        }
        

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        max-width: 1200px;
        margin: 5rem auto;
        .activity{
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            .bold{
                font-weight: 700;
            }
            .inscription{
                margin-top: .75rem;
                a{
                    display: block;
                    width: 100%;
                    padding: 4px 0;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 99rem;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            .hour{
                padding: 1rem 0 0 0 ;
                color: var(--global--color-orange);
                font-size: 20px;
                font-weight: 700;
            }
            h2{
                max-width: 70%;
                position: relative;
                &::after{
                    content: '';
                    width: 110%;
                    height: 1px;
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                }
            }
            .age,.activity-helper{
                position: relative;
                margin-bottom: 1rem;
                &::after{
                    content: '';
                    width: 60%;
                    height: 1px;
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                }
            }
            svg{
                max-width: 30%;
                position: absolute;
                right: 0;
                top: 0;
            }
            &::before{
                content: '';
                width: 100%;
                height: 10px;
                position: absolute;
                top: -26px;
            }
            .more{
                font-weight: 700;
                position: relative;
                bottom: 0;
                a{
                    text-decoration: none;
                    color: var(--global--color-green);
                }
            }
        }
        .activity-status-cancel{
            &::before,svg *{
                background-color: #888;
                fill: #888;
            }
            *{
                text-decoration: line-through;
                color: var(--global--color-black) !important;
            }
            h2,.age,.activity-helper{
                &::after{
                    background-color: var(--global--color-black);
                }
            }
            .inscription a{
                border: #888 1px solid;
                color: #888;
            }
        }
        .activity-status-day{
            &::before,svg *{
                background-color: var(--global--color-orange);
                fill: var(--global--color-orange);
            }
            h2,.age,.activity-helper{
                &::after{
                    background-color: var(--global--color-blue);
                }
            }
            .inscription a{
                background-color: var(--global--color-orange);
                color: #fff;
            }
        }
        .activity-status-afternoon{
            &::before,svg *{
                background-color: var(--global--color-green);
                fill: var(--global--color-green);
            }
            h2,.age,.activity-helper{
                &::after{
                    background-color: var(--global--color-green);
                }
            }
            .inscription a{
                background-color: var(--global--color-green);
                color: #fff;
            }
        }
        .activity-status-morning{
            &::before,svg *{
                background-color: var(--global--color-blue);
                fill: var(--global--color-blue);
            }
            h2,.age,.activity-helper{
                &::after{
                    background-color: var(--global--color-green);
                }
            }
            .inscription a{
                background-color: var(--global--color-blue);
                color: #fff;
            }
        }
    }
}