.wrapper-company{
    @media screen and (max-width:$breakpoint_md){
        max-width: 90%;
    }
    div{
        .wp-block-column{
            &.img{
                display: flex;
                justify-content: center;
                img{
                   max-width: 450px;                    
                }

            }
            @media screen and (max-width:$breakpoint_md){
                margin-bottom: 2.5rem;
            }
        }
        i{
            font-size: 1.5rem;
        }
        svg{
            max-width: 48px;
            margin: initial;
            path{
                fill: #222834;
            }
        }
        &:nth-child(even){
            flex-direction: row-reverse;
        }
        &:first-child{
            align-items: flex-start;
            position: relative;
            //margin-bottom: 150px;
            @media screen and (max-width:$breakpoint_md){
                margin-bottom: 2.5rem;
            }
            .card-company{
                position: absolute;
                left: 75%;
                top: calc(27px + 1.5rem + 25px);
                transform: translateX(-50%);
                @media screen and (max-width:$breakpoint_md) {
                    position: static;
                    margin: 0 auto;
                    transform: unset;
                }
            }
        }
        align-items: center;
        div{
            .intro{
                font-size: 18px;
            }
            h2{
                margin: 1.5rem 0;
                font-size: 55px;
            }
            h3{
                font-size: 24px;
                margin: 2rem 0;
            }
            .card-company{
                max-width: 25rem;
                width: 100%;
                min-height: 450px;
                padding: 3.5rem;

                margin: 0 auto;

                box-shadow: 0px 0px 59px #00000015;
                border-radius: 50px;

                background-color: #fff;

                p{
                    line-height: 2;
                    margin: 2rem 0;
                }
                a{
                    color: var(--global--color-gray);
                    margin: 2rem 0;
                }
            }
        }
    }
}

.txt-center{
    text-align: center;
}