// Do we need to serve a font? Add the @font-face styles here.

//CHANGE URL TO CHANGE FONT PATH
$theme_url : "/wp-content/themes/territoires-sauvages/";

@font-face {
  font-family: Roboto;
  src: url($theme_url+"assets/roboto/Roboto-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url($theme_url+"assets/roboto/Roboto-LightItalic.woff2") format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url($theme_url+"assets/roboto/Roboto-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url($theme_url+"assets/roboto/Roboto-Italic.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url($theme_url+"assets/roboto/Roboto-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url($theme_url+"assets/roboto/Roboto-BoldItalic.woff2") format('woff2');
  font-weight: 700;
  font-style: italic;
}

/*

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*/
:root {
    --font-headings : Roboto;
    --font-base : Roboto;
}

.wp-block-group__inner-container {
  text-align: center;
  i{
    font-size:var(--global--font-size-xxl);
  }
}
.blue{
  color:var(--global--color-blue);
}
.red{
  color:var(--global--color-red);
}
.green{
  color:var(--global--color-green);
}