/* Center image block by default in the editor */

.wp-block-image > div {
	text-align: center;
}

[data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}

/* Block Styles */

.wp-block-image.is-style-twentytwentyone-border img,
.wp-block-image.is-style-twentytwentyone-image-frame img {
	border: calc(3 * var(--separator--height)) solid var(--global--color-border);
}

.wp-block-image.is-style-twentytwentyone-image-frame img {
	padding: var(--global--spacing-unit);
}

#partner{
	figure{
		background-color: #FFF;
		min-width:calc(125px + 2rem);
		min-height:calc(75px + 2rem);
		position:relative;
		img{
			//margin:1rem;
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
		}
	}
}