/* .colored-bullet{
    list-style-image: url('assets/images/list-bullet.svg');
    li{
        padding: .5rem 0;
    }
} */

.check-bullet{
    list-style-image: url('assets/images/check-bullet.svg') !important;
    li{
        padding: .5rem 0 !important;
		&::marker{
			font-size: 1rem;
		}
    }
}

ul,
ol {
	font-family: var(--list--font-family);
	margin: var(--global--spacing-vertical) 0;
	padding-left: 0;

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
		text-align: center;
	}

	&.alignright {
		list-style-position: inside;
		padding: 0;
		text-align: right;
	}
}

li {

	> ul,
	> ol {
		margin: 0;
	}
}

dt {
	font-family: var(--definition-term--font-family);
	font-weight: bold;
}
