.edition .wp-block-group__inner-container > *:not(.edition-title){
    display:none;
}
#content .edition.active .wp-block-group__inner-container > *{
    display:block;
    
}
.edition{
    &.active{
        .edition-title{
            &::after{
                content: '▼';
            }
        }
    }
    .edition-title{
        border-bottom: 1px solid #4C4C4C;
        cursor: pointer;
        position: relative;
        &::after{
            content: '▶';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: var(--global--color-green);
            font-size: 16px;
        }
    }
}
.carrousel{
    @include media(mobile-only){
        max-width: calc(100vw - 4 * var(--global--spacing-horizontal)) !important;
    }
}
#content .edition.active .wp-block-group__inner-container > p{
    color: #4C4C4C;
}
#content .edition.active .wp-block-group__inner-container > *:not(.edition-title):not(.carrousel):not(.slick-dots){
    max-width: 900px !important;
}
    /* Slider */

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }
    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        margin: 0 1rem;
        [dir="rtl"] & {
            float: right;
        }
        img {
            display: block;
        }
        &.slick-loading img {
            display: none;
        }

        display: none;

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    .slick-arrow.slick-hidden {
        display: none;
    }



    $slick-font-path: "./fonts/" !default;
    $slick-font-family: "slick" !default;
    $slick-loader-path: "./" !default;
    $slick-arrow-color: black !default;
    $slick-dot-color: black !default;
    $slick-dot-color-active: #4BB48D !default;
    $slick-prev-character: "\2190" !default;
    $slick-next-character: "\2192" !default;
    $slick-dot-character: "\2022" !default;
    $slick-dot-size: 20px !default;
    $slick-opacity-default: 0.75 !default;
    $slick-opacity-on-hover: 1 !default;
    $slick-opacity-not-active: 0.25 !default;

    @function slick-image-url($url) {
        @if function-exists(image-url) {
            @return image-url($url);
        }
        @else {
            @return url($slick-loader-path + $url);
        }
    }

    @function slick-font-url($url) {
        @if function-exists(font-url) {
            @return font-url($url);
        }
        @else {
            @return url($slick-font-path + $url);
        }
    }

    /* Slider */

    .slick-list {
        .slick-loading & {
            background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
        }
    }

    /* Icons */
    @if $slick-font-family == "slick" {
        @font-face {
            font-family: "slick";
            src: slick-font-url("slick.eot");
            src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
            font-weight: normal;
            font-style: normal;
        }
    }

    /* Arrows */

    .slick-prev,
    .slick-next {
        margin: 0 !important;
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 40%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
        &:hover, &:focus {
            outline: none;
            background: transparent;
            color: transparent;
            &:before {
                opacity: $slick-opacity-on-hover;
            }
        }
        &.slick-disabled:before {
            opacity: $slick-opacity-not-active;
        }
        &:before {
            font-family: $slick-font-family;
            font-size: 24px;
            line-height: 1;
            color: $slick-arrow-color;
            opacity: $slick-opacity-default;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .slick-prev {
        left: -25px;
        [dir="rtl"] & {
            left: auto;
            right: -25px;
        }
        &:before {
            content: $slick-prev-character;
            [dir="rtl"] & {
                content: $slick-next-character;
            }
        }
    }

    .slick-next {
        right: -25px;
        [dir="rtl"] & {
            left: -25px;
            right: auto;
        }
        &:before {
            content: $slick-next-character;
            [dir="rtl"] & {
                content: $slick-prev-character;
            }
        }
    }

    /* Dots */

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            position: relative;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0 4px !important;
            padding: 0;
            cursor: pointer;
            button {
                border: 0;
                background: transparent;
                display: block;
                height: 20px;
                width: 20px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;
                &:hover, &:focus {
                    outline: none;
                    &:before {
                        opacity: $slick-opacity-on-hover;
                    }
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: $slick-dot-character;
                    width: 20px;
                    height: 20px;
                    font-family: $slick-font-family;
                    font-size: $slick-dot-size;
                    line-height: 20px;
                    text-align: center;
                    color: $slick-dot-color;
                    opacity: $slick-opacity-not-active;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            &.slick-active button:before {
                color: $slick-dot-color-active;
                opacity: $slick-opacity-default;
            }
        }
    }


