/* Over here, place any elements that do not need to have their own file. */
b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

pre {
	white-space: pre;
	overflow-x: auto;
}

.home-wrapper{
	max-width: 630px !important;
	width: 100%;
	text-align: left;
	margin: 0 auto !important;
	padding: 1rem;
}
.home{
	p{
		font-weight: 300 !important;
	}
	h1{
		font-size: 2rem !important;
		@include media(mobile-only){
			font-size: 1.75rem !important;
		}
	}
	.wp-block-cover__inner-container{
		max-width: 630px !important;
		width: 100% !important;
	}
}

@media (min-width: 600px) and (max-width: 781px){
	.wp-block-column:nth-child(2n){
		margin-left: 0 !important;
	}
}
